body {
  background-color: #FFFF;
  font-family: sans-serif;
  font-size: 18px;
}

.container {
  width: 375px;
}

nav {

}

.back-arrow {

}

.bus-list {

}

.bus-number {

}

.bus-destination {

}

.bus-time {

}
